@font-face {
    font-family: Neoneon;
    src: url(../fonts/Neoneon.otf);
}

body{
    color: #333;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 1.43;
    background: url(../img/bg/bg.jpeg); no-repeat 100%;
    background-attachment: fixed;
    background-size: 100% 100%;
}

@media(max-width: 400px){
    body{overflow: scroll;}
}

.wrapper {
    min-width: 320px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
    min-height: 960px;
}


.header{
    min-width: 320px;
    background: url(https://worldexpeditions.s3-ap-southeast-2.amazonaws.com/Polar-Regions/Iceland/540585766e609-IcelandRoad-323706-1920px-16x7.jpg) no-repeat 100%;
    background-size: cover;
    background-position: bottom;
    position: relative;
}


.head_middle{
    padding: 60px;
}

.head_left {
    position: relative;
    z-index: 5;
}

.logo{
    color: #fff;
    margin-top: 50px;
}

.logo_name{
    font-family: 'Neoneon', sans-serif;
    font-size: 48px;
}

.logo_name a{
    color: white;
    text-shadow: 4px 2px 13px #fff;
}

.logo_name a:hover{
    margin-left: 1px;
    text-decoration: none;
    color: white;
    text-shadow: 4px 2px 3px red;
}

.slogan{
    font-size: 24px;
}

.head_bottom{
    position: relative;
    z-index: 15;
}

.main-menu{
    background-color: rgba(35, 135, 200, 0.5);
    padding: 0 60px;
}

.navbar-inverse .navbar-nav>li>a:hover{
    color: #fff;
    background-color: #841f1f;
}



.model{
    width: 100%;
    margin: 20px 0;
}

.model>h1{
    color: #fff;
    text-align: center;
    font-size: 52px;
    margin-bottom: 40px;
}


.items{
    min-width: 17vh;
    display: inline-block;
    padding-bottom: 15px;
}

.promo{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.promo:hover img{
    opacity: 0.8;
}

.promo_navi{
    position: absolute;
    top: 100%;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: hsl(359, 100%, 100%);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}

.promo:hover .promo_navi{
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
}

.promo_navi>div{
    font-size: 14px;
    min-height: 58px;
    display: inline-block;
    margin-left: 30px;
    padding-left: 0px;
    border-left: 1px solid #fff;
    border-left-color: rgba(255,255,255,0.7);
    vertical-align: top;
}

.promo_navi>h2{
    max-width: 60%;
    font-size: 3.75rem;
    font-weight: bold;
    line-height: 1;
    display: inline-block;
    margin: 0;
    max-width: 38%;
}

.promo_navi>div>ul{
    min-width: 50%;
    float: left;
    letter-spacing: -0.32em;
    list-style-type: none;
    margin-left: 15px;
    padding: 0;
}

.promo_navi>div>ul>li{
    line-height: 2;
    letter-spacing: normal;
    vertical-align: top;
    display: block;
    margin: 0 0 0.25em 0;
    font-size: inherit;
}

.promo_navi>div>ul>li>span a{
    color: #fff;
    text-decoration: none;
}

.promo_navi>div>ul>li>span a:hover{
    color: #23527c;
}

.promo_navi>div>ul>li>span{
    display: inline-block;
    font-family: "Nobel","Helvetica","Arial","Roboto",sans-serif;
    line-height: 1.3;
    font-size: 2.475rem;
}


@media (min-width: 90px) and (max-width: 390px) {
    .promo_navi>h2 {font-size: 2.2rem;}
}
@media (min-width: 90px) and (max-width: 390px) {
    .promo_navi>div>ul>li>span {font-size: 1.9rem;}
}


@media (min-width: 430px) {
    .promo_navi>h2 {font-size: 4rem;}
}
@media (min-width: 430px) {
    .promo_navi>div>ul>li>span {font-size: 3.1rem;}
}

@media (min-width: 1024px) {
    .promo_navi>h2 {font-size: 5rem;}
}
@media (min-width: 1024px) {
    .promo_navi>div>ul>li>span {font-size: 4rem;}
}


.glyphicon-chevron-right{
    font-size: 25px;
}
@media (min-width: 1024px) {
    .glyphicon-chevron-right {font-size: 4rem;}
}

img{
    max-width: 100%;
}

.title-review{
    color: #fff;
    text-align: center;
    font-size: 52px;
    margin-bottom: 40px;
}


.review-item {
    background: #222;
    margin-bottom: 40px;
    max-height: 80vh;
}

.review-content {
    padding: 36px 15px 44px 29px;
}

.review-name {
    font-size: 19px;
    line-height: 1;
    color: #9aa0ae;
    margin-bottom: 21px;
}

.review-anons {
    font-size: 14px;
    line-height: 24px;
    color: #9aa0ae;
    margin-bottom: 25px;
    min-height: 120px;
}



footer{
    min-width: 17vh;
    padding: 1.5em 7em 0.5em;
    background-color: #222;
    color: white;
    font-size: 0.9em;
}

footer a{
    color: #fff;
    line-height: 1.3em;
}

@media (max-width: 1250px){
    footer{ padding-left: 1em;
        padding-right: 1em;
    }
}

@media (max-width: 940px){
    footer .footer-about{
        display: none;
    }
    footer .footer-social{
        text-align: left;
        width: 56%;
    }
    footer .footer-contacts{
        text-align: right;
        width: 43%;
    }
}

.footer-about, .footer-social{
    display: inline-block;
    width: 33%;
    vertical-align: top;
}

.footer-contacts{
    display: inline-block;
    width: 15%;
    vertical-align: top;
    float: right;
}

.footer-about{
    text-align: left;
}
.footer-about p {
    font-size: 15px;
    padding-right: 1.5em;
    line-height: 1.2em;
    opacity: 0.7;
}

.footer-social{
    text-align: center;
}
.footer-contacts{
    text-align: right;
}

.footer-social ul{
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    list-style: none;
}

.footer-social a{
    border-radius: 50%;
    background-color: #222;
    text-shadow: none;
    color: #fff;
    padding: 0.7em 0.9em;
    margin-right: 0.1em;
}

.footer-social h3{
    margin-top: -8px;
    margin-bottom: 20px;
}

.footer-contacts a{
    display: block;
}
.footer-contacts a:hover{
    text-decoration: none;
    color: inherit;
    -webkit-animation: swing 1s ease;
            animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    opacity: 0.7;
}
@-webkit-keyframes swing
{
    15%
    {-webkit-transform: translateX(5px);transform: translateX(5px);}
    30%
    {-webkit-transform: translateX(-5px);transform: translateX(-5px);}
    50%
    {-webkit-transform: translateX(3px);transform: translateX(3px);}
    65%
    {-webkit-transform: translateX(-3px);transform: translateX(-3px);}
    80%
    {-webkit-transform: translateX(2px);transform: translateX(2px);}
    100%
    {-webkit-transform: translateX(0);transform: translateX(0);}
}
@keyframes swing
{
    15%
    {-webkit-transform: translateX(5px);transform: translateX(5px);}
    30%
    {-webkit-transform: translateX(-5px);transform: translateX(-5px);}
    50%
    {-webkit-transform: translateX(3px);transform: translateX(3px);}
    65%
    {-webkit-transform: translateX(-3px);transform: translateX(-3px);}
    80%
    {-webkit-transform: translateX(2px);transform: translateX(2px);}
    100%
    {-webkit-transform: translateX(0);transform: translateX(0);}
}


.footer-social li:first-child a:hover {
    background-color: #4c75a3;
    color: #fff;
}

.footer-social li:nth-child(2) a:hover {
    background: url(https://thumb10.shutterstock.com/mosaic_250/162630792/475787737/stock-vector-gradient-stock-vector-illustration-gradient-colorful-background-in-new-social-style-inspired-by-475787737.jpg) center center no-repeat;
    background-size: cover;
    color: #fff;
}

.footer-social li:nth-child(3) a:hover {
    background-color: #3c5a9a;
    color: #fff;
}

.footer-social li:last-child a:hover {
    background-color: #00b6f1;
    color: #fff;
}

.social, .social li{
    display: inline-block;
}


.footer-bottom {
    margin-top: 4em;
    font-size: 1.15em;
    text-align: center;
}



.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: -100px;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    color: #dac9c9;
    z-index: 99999;
    overflow: auto;
    -webkit-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
    visibility: hidden;
    margin-right: -20px;
    opacity: 0;
    pointer-events: none;
}

@media (max-width: 1170px){
    .modalDialog{
        top: 0;
    }
}

.modalDialog:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}


.modalDialog > div {
    max-width: 1100px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    overflow: auto;
    background: -webkit-linear-gradient(#2d2d2d, #4a0c0c);
    background: -o-linear-gradient(#2d2d2d, #4a0c0c);
}

.modalDialog p{
    margin-top: 15px;
    margin-bottom: 35px;
    opacity: 0.8;
    float: initial;
}

.bx-wrapper img {
    width: 100%;
    max-width: 100%;
    display: block;
}
#bx-pager,#bx-pager2,#bx-pager3,#bx-pager4,
#bx-pager5,#bx-pager6,#bx-pager7,#bx-pager8,
#bx-pager9,#bx-pager10,#bx-pager11,#bx-pager12,
#bx-pager13,#bx-pager14,#bx-pager15,#bx-pager16,
#bx-pager17,#bx-pager18,#bx-pager19,#bx-pager20,
#bx-pager21,#bx-pager22,#bx-pager23,#bx-pager23 {
    margin-top: 20px;
    text-align: center;
}

#bx-pager a,#bx-pager2 a,#bx-pager3 a,#bx-pager4 a,
#bx-pager5 a,#bx-pager6 a,#bx-pager7 a,#bx-pager8 a,
#bx-pager9 a,#bx-pager10 a,#bx-pager11 a,#bx-pager12 a,
#bx-pager13 a,#bx-pager14 a,#bx-pager15 a,#bx-pager16 a,
#bx-pager17 a,#bx-pager18 a,#bx-pager19 a,#bx-pager20 a,
#bx-pager21 a,#bx-pager22 a,#bx-pager23 a,#bx-pager24 a {
    margin: 0 3px;
}

#bx-pager a img,#bx-pager2 a img,#bx-pager3 a img,#bx-pager4 a img,
#bx-pager5 a img,#bx-pager6 a img,#bx-pager7 a img,#bx-pager8 a img,
#bx-pager9 a img,#bx-pager10 a img,#bx-pager11 a img,#bx-pager12 a img,
#bx-pager13 a img,#bx-pager14 a img,#bx-pager15 a img,#bx-pager16 a img,
#bx-pager17 a img,#bx-pager18 a img,#bx-pager19 a img,#bx-pager20 a img,
#bx-pager21 a img,#bx-pager22 a img,#bx-pager23 a img,#bx-pager24 a img {
    padding: 3px;
    border: 1px solid #ccc;
    width: 80px;
    -webkit-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
#bx-pager a.active img,#bx-pager2 a.active img,
#bx-pager3 a.active img,#bx-pager4 a.active img,
#bx-pager5 a.active img,#bx-pager6 a.active img,
#bx-pager7 a.active img,#bx-pager8 a.active img,
#bx-pager9 a.active img,#bx-pager10 a.active img,
#bx-pager11 a.active img,#bx-pager12 a.active img,
#bx-pager13 a.active img,#bx-pager14 a.active img,
#bx-pager15 a.active img,#bx-pager16 a.active img,
#bx-pager17 a.active img,#bx-pager18 a.active img,
#bx-pager19 a.active img,#bx-pager20 a.active img,
#bx-pager21 a.active img,#bx-pager22 a.active img,
#bx-pager23 a.active img,#bx-pager24 a.active img  {
    border: 1px solid #D4104E;
}
.bx-prev, .bx-next {
    text-decoration: none;
    top: 50%;
    margin-top: -40px;
    background: white;
    color: #666;
    width: 30px;
    height: 80px;
    text-align: center;
    -webkit-transition: .4s linear;
    -o-transition: .4s linear;
    transition: .4s linear;
    z-index: 10;
    cursor: pointer;
}

.bx-next:before {content: "\f105";}
.bx-prev:before {content: "\f104";}

